.subject_button {
    height: 50px;
    background-color: white;
    color: black;
    cursor: pointer;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-weight: bold;
    font-size: 20px;
    margin:5px
}

.subject_button:hover {
    background-color: lightgray !important;
}

.subject_button:active {
    background-color: gray;
}

.series {
    height: 50px;
    background-color: white;
    color: black;
    cursor: pointer;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;    font-weight: bold;
    font-size: 20px;
    margin:5px
}

.series:hover {
    background-color: lightgray !important;
}

.series:active {
    background-color: gray;
}

.year {
    height: 50px;
    background-color: white;
    color: black;
    cursor: pointer;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;    font-weight: bold;
    font-size: 20px;
    margin:5px
}

.year:hover {
    background-color: lightgray !important;
}

.year:active {
    background-color: gray;
}

.paper_type {
    height: 50px;
    background-color: white;
    color: black;
    cursor: pointer;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;    font-weight: bold;
    font-size: 20px;
    margin:5px
}

.paper_type:hover {
    background-color: lightgray !important;
}

.paper_type:active {
    background-color: gray;
}

#variant_textbox{
    height:45px;
    width:100px;
    margin-left:5px;
    font-size: 25px;
    text-align: center;
    border:2px solid
}

#link_gen_btn{
    margin-left:5px;
    height:45px;
    width:200px;
    background-color: aqua;
    font-size: 26px;
    font-weight: bolder;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    cursor: pointer;
}